# The business Business Problem:
There are a lot of accidents in the world, most of them deadly. we want to know how these deadly accidents become so deadly.
I will explore the data and find some insights by building a model that predicts severity's accident.

## DATA
the data contains all the Collisions from the years: 2004-2020 in USA

In [1]:
import wget
acc_data = wget.download('https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv')##downloading geospatial data

# Cleaning the Data

In [3]:
import pandas as pd
import numpy as np

In [4]:
df_coll = pd.read_csv('Data-Collisions.csv') ## read csv file into dataframe
df_coll.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [10]:
df_coll = df_coll[['X','Y','ADDRTYPE','COLLISIONTYPE','PERSONCOUNT','SDOT_COLCODE','WEATHER','ROADCOND','LIGHTCOND','SPEEDING','ST_COLCODE']] ## cleaning the unrelevant columns
df_coll.head()

,X,Y,ADDRTYPE,COLLISIONTYPE,PERSONCOUNT,SDOT_COLCODE,WEATHER,ROADCOND,LIGHTCOND,SPEEDING,ST_COLCODE
0,-122.323148,47.703140,Intersection,Angles,2,11,Overcast,Wet,Daylight,NaN,10
1,-122.347294,47.647172,Block,Sideswipe,2,16,Raining,Wet,Dark - Street Lights On,NaN,11
2,-122.334540,47.607871,Block,Parked Car,4,14,Overcast,Dry,Daylight,NaN,32
3,-122.334803,47.604803,Block,Other,3,11,Clear,Dry,Daylight,NaN,23
4,-122.306426,47.545739,Intersection,Angles,2,11,Raining,Wet,Daylight,NaN,10